  .my-inventory-asset-status-draft {
      border-left: 4px solid #ccc;
  }

  .my-inventory-asset-status-new {
      border-left: 4px solid #1677ff;
  }

  .my-inventory-asset-status-inProgress {
      border-left: 4px solid orangered;
  }

  .inventory-asset-department-status-draft {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: #ccc;
  }

  .inventory-asset-department-status-assigned {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: #1677ff;
      color: white;
  }

  .inventory-asset-department-status-accepted {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: green;
      color: white;
  }

  .inventory-asset-department-status-inProgress {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: orangered;
      color: white;
  }

  .inventory-asset-status-new {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: #ccc;
  }

  .inventory-asset-status-assigned {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: #1677ff;
      color: white;
  }

  .inventory-asset-status-accepted {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: green;
      color: white;
  }

  .inventory-asset-status-inProgress {
      padding: 3px 10px;
      border-radius: 3px;
      background-color: orangered;
      color: white;
  }